
header {
  text-align: center;
}

body h1 {
  font-size: 80px;
  border-bottom: solid;
  border-bottom-color: blue;
}

body {
  background-color: black;
  display: inline;
  color: red;
  font-family: 'Copperplate', fantasy, sans-serif;
  font-size: 30px;
  text-align: center;
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}

.textColor {
  color: red;
  font-size: 60px;
}

.nameButton {
  height: 150px;
  width: 400px;
  border: solid;
  border-color: blue;
  margin: 4px;
  font-size: 30px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul ::first-letter {
  text-transform: uppercase;
}

#spinner {
  visibility: hidden;
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #f25a41;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-color: #f00 #f00 #f00 maroon;
  margin: auto;
  box-shadow: 0 0 40px -2px;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

#spinner.show {
  visibility: visible;
}

#spinner.hide {
  visibility: hidden;
}

#modal-container {
  display: none;
}

.modal-content {
  border: solid;
  border-color: white;
  background-color: blue;
}

.modal h2 {
  margin-top: 0;
  color: white;
  text-transform: uppercase;
}

.modal-header {
  display: flex;
  justify-content: center;
  background-color: #292b2c;
  color: red;
  text-align: center;
}

.modal-footer {
  background-color: #292b2c;
}

.modal p {
  margin-bottom: 0;
  color: black;
}

.modal img {
  margin: 15px;
  display: inline;
  width: 150px;
  height: 150px;
}

.borders {
  border: solid;
  border-color: black;
}
