header {
  text-align: center;
}

body {
  background-color: black;
  color: red;
  font-family: 'Copperplate', sans-serif;
  font-size: 30px;
  text-align: center;
}

.nameButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  height: 150px;
  width: 400px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

ul {
  list-style-type: none;
}

#spinner {
  visibility: hidden;
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #f25a41;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-color: #f00 #f00 #f00 maroon;
  margin: auto;
  box-shadow: 0 0 40px -2px;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

#spinner.show {
  visibility: visible;
}

#spinner.hide {
  visibility: hidden;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  box-sizing: border-box;
  background: #7d929b;
  padding: 15px;
  width: 100%;
  height: 400px;
  max-width: 700px;
  margin-bottom: 700px;
}

.modal-close {
  -webkit-appearance: none;
  background: none;
  color: black;
  float: right;
  font-weight: bold;
}

.modal h1 {
  margin-top: 0;
  color: black;
  text-transform: capitalize;
  text-align: center;
}

.modal p {
  margin-bottom: 0;
  color: black;
}

.modal img {
  margin: 15px;
  display: inline;
  width: 150px;
  height: 150px;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transorm: translateX(-100%) rotate(-120deg);
    -ms-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}

.rollIn {
  -webkit-animation-name: rollin;
  animation-name: rollIn;
}
